/SortExamples/SortExamples.sln
# Папки
bin/
obj/
packages/

# Файлы
*.exe
*.dll
*.pdb
*.userprefs
*.unityproj
*.user
*.vs

# Необходимо добавить и другие расширения файлов, которые вы хотите игнорировать

# Исключения
!*.cs        # Игнорировать все файлы с расширением .cs
!*.config    # Игнорировать все файлы с расширением .config

